// Blue theme

// Color variables
$blue: #3878ff;
$background-blue: #1f1f89;
$white: #fff;
$black: #000000;

// Config
$color-background: $background-blue !default;
$color-dot-accent: $blue !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $background-blue !default;
$color-code: $white !default;
$color-nav-link: $blue !default;
$color-primary-link: $blue !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
